         </div><!-- End of content -->
      </div><!-- End of content-container -->

      <!-- Footer -->
      <div id="footer-container">
         <footer>
            <p>Copyright &copy; 2014 &ndash; <a href="https://zacharyseguin.ca/">Zachary Seguin</a><br />All Rights Reserved.</p>
            <p>Contains information provided by the Regional Municipality of Waterloo under licence.</p>
         </footer>
      </div><!-- End of footer-container -->
   </body>
</html>
